page-current-location {
	#map{
		
		height:100%;
		width : 100%;
		background-color: #000;
	}
	.profile-avatar{
		margin-right: 10px;
		vertical-align: middle;
	    width: 30px;
	    height: 30px;
	    border-radius: 50%;
	}

}
